@import "tailwindcss";

@source "../index.html";
@source "../src/**/*.{ts,tsx}";

body {
  font-family:
    "Google Sans",
    "Noto Sans KR",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  vertical-align: baseline;
  color: inherit;
  text-align: inherit;
}

#root {
  position: relative;
  min-height: 100vh;
  margin: 0;
  isolation: isolate; /* z-index 안전하게 분리 */
}

#root::before {
}
